
@{
    ViewBag.Title = "LessonCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ders Ekle</h2>

<center>
    <form method="post">
        <table class="table table-bordered">
            <tr>
                <td>Ders Adı</td>
            <td>
                <center>
                    <input type="text" name="DERSAD" />
                </center>
            </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <center>
                            <button class="btn btn-primary">Ekle</button>
                        </center>
                    </div>
                    
                </td>
            </tr>
        </table>
    </form>
</center>

